h1{
    font-family: 'Franklin Gothic Medium';
    color:black;
    margin-left: 100px;
}

h2, p{
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

.header{
    background-color: rgb(120, 188, 255);
    display: flex;
    justify-content:space-between;
}

.description{
    background-color: rgb(0, 128, 255);
}

.grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: black;
}

.header *{
    border: none;
}

a:link{
    color: purple 
}

a:visited{
    color: blue
}

.menu{
    margin-right: 100px;
    margin-top: 30px;
}

.menu a{
    margin-right: 20px;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.25;
}

.link:hover{
    opacity: 0.25;
}